# dotfiles
.*
!/.gitignore
 
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.[oa]
*.lai
*.la
*.a
*.d
*.dd

# comdb2 save files
*.save
*.done
*.clean

# vim swp files
*.swp
*.swo
*.swn

# bak files
*.bak
*.old

# tsk file
*.tsk

#python compiled files
*.pyc

# tags files for ctags
tags

# tag files for cscope
cscope.files
cscope.out
cscope.out.*

# deps
.nfs*
00*
ported*
*.ibm

# Misc
*.mapfile
*.old
*.new
*.orig
*.mine
*.tmp
*.temp

# SVN
.svn*

# EMACS
*~
